
//- if user
.dash__box.dash__box--shadow.dash__box--radius.dash__box--bg-white.u-s-m-b-30
  .dash__pad-2
    h1.dash__h1.u-s-m-b-14 Manage My Account
    span.dash__text.u-s-m-b-30 From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.
    .row
      .col-lg-4.u-s-m-b-30
        .dash__box.dash__box--bg-grey.dash__box--shadow-2.u-h-100
          .dash__pad-3
            h2.dash__h2.u-s-m-b-8 PERSONAL PROFILE
            .dash__link.dash__link--secondary.u-s-m-b-8
              a(href="dash-edit-profile.html") Edit
            span.dash__text #{user.fristName} #{user.lastName}
            span.dash__text #{user.email}
            .dash__link.dash__link--secondary.u-s-m-t-8
              a(data-modal="modal" data-modal-id="#dash-newsletter") Subscribe Newsletter
      .col-lg-4.u-s-m-b-30
        .dash__box.dash__box--bg-grey.dash__box--shadow-2.u-h-100
          .dash__pad-3
            if user.role == "user"
              h2.dash__h2.u-s-m-b-8 ADDRESS BOOK
              span.dash__text-2.u-s-m-b-8 Default Shipping Address
              .dash__link.dash__link--secondary.u-s-m-b-8
                a(href="dash-edit-profile.html") Edit
              span.dash__text 4247 Ashford Drive Virginia - VA-20006 - USA
              span.dash__text (+0) 900901904
            if user.role == "seller"
              h2.dash__h2.u-s-m-b-8 ADDRESS
              .dash__link.dash__link--secondary.u-s-m-b-8
                a(href="dash-edit-profile.html") Edit
              span.dash__text= user.address
              span.dash__text= user.phone
      if user.role == "user"
        .col-lg-4.u-s-m-b-30
          .dash__box.dash__box--bg-grey.dash__box--shadow-2.u-h-100
            .dash__pad-3
              h2.dash__h2.u-s-m-b-8 BILLING ADDRESS
              span.dash__text-2.u-s-m-b-8 Default Billing Address
              span.dash__text 4247 Ashford Drive Virginia - VA-20006 - USA
              span.dash__text (+0) 900901904
      if user.role == "seller"
        .col-lg-4.u-s-m-b-30
          .dash__box.dash__box--bg-grey.dash__box--shadow-2.u-h-100
            .dash__pad-3
              img.u-s-m-b-8(src = "/images/product/electronic/product2.jpg" width="200px")
              
if (user.role == "user")
  .dash__box.dash__box--shadow.dash__box--bg-white.dash__box--radius
    h2.dash__h2.u-s-p-xy-20 RECENT ORDERS
    .dash__table-wrap.gl-scroll
      table.dash__table
        thead
          tr  
            th Order #
            th Placed On
            th Items
            th Total
        tbody 
          tr 
            td 3054231326
            td 26/13/2016
            td 
              .dash__table-img-wrap
                img.u-img-fluid(src="images/product/electronic/product3.jpg")
            td
              .dash__table-total
                span $126.00
                .dash__link.dash__link--brand
                  a MANAGE
          tr 
            td 3054231326
            td 26/13/2016
            td 
              .dash__table-img-wrap
                img.u-img-fluid(src="images/product/electronic/product3.jpg")
            td
              .dash__table-total
                span $126.00
                .dash__link.dash__link--brand
                  a MANAGE
                  