extends ./layouts/layout

block content
  .app-content
    .s-skeleton.s-skeleton--h-600.s-skeleton--bg-grey
      .owl-carousel.primary-style-1#hero-slider
        .hero-slide.hero-slide--1
          .container 
            .row
              .col-12
                .slider-content.slider-content--animation
                  span.content-span-1.u-c-secondary Latest Update Stock
                  span.content-span-2.u-c-secondary 30% Off On Electronics
                  span.content-span-3.u-c-secondary Find electronics on best prices, Also Discover most selling products of electronics
                  span.content-span-4.u-c-secondary Starting At
                    span.u-c-brand $1050.00
                  a.shop-now-link.btn--e-brand Shop Now
        .hero-slide.hero-slide--2
          .container 
            .row
              .col-12
                .slider-content.slider-content--animation
                  span.content-span-1.u-c-white Latest Update Stock
                  span.content-span-2.u-c-white 30% Off On Electronics
                  span.content-span-3.u-c-white Find electronics on best prices, Also Discover most selling products of electronics
                  span.content-span-4.u-c-white Starting At
                    span.u-c-brand $1050.00
                  a.shop-now-link.btn--e-brand Shop Now
        .hero-slide.hero-slide--3
          .container 
            .row
              .col-12
                .slider-content.slider-content--animation
                  span.content-span-1.u-c-white Latest Update Stock
                  span.content-span-2.u-c-white 30% Off On Electronics
                  span.content-span-3.u-c-white Find electronics on best prices, Also Discover most selling products of electronics
                  span.content-span-4.u-c-white Starting At
                    span.u-c-brand $1050.00
                  a.shop-now-link.btn--e-brand Shop Now
                    
      //- <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-grey">
                <div class="owl-carousel primary-style-1" id="hero-slider">
                    <div class="hero-slide hero-slide--1">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content slider-content--animation">

                                        <span class="content-span-1 u-c-secondary">Latest Update Stock</span>

                                        <span class="content-span-2 u-c-secondary">30% Off On Electronics</span>

                                        <span class="content-span-3 u-c-secondary">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                        <span class="content-span-4 u-c-secondary">Starting At

                                            <span class="u-c-brand">$1050.00</span></span>

                                        <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slide hero-slide--2">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content slider-content--animation">

                                        <span class="content-span-1 u-c-white">Find Top Brands</span>

                                        <span class="content-span-2 u-c-white">10% Off On Electronics</span>

                                        <span class="content-span-3 u-c-white">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                        <span class="content-span-4 u-c-white">Starting At

                                            <span class="u-c-brand">$380.00</span></span>

                                        <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slide hero-slide--3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content slider-content--animation">

                                        <span class="content-span-1 u-c-secondary">Find Top Brands</span>

                                        <span class="content-span-2 u-c-secondary">10% Off On Electronics</span>

                                        <span class="content-span-3 u-c-secondary">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                        <span class="content-span-4 u-c-secondary">Starting At

                                            <span class="u-c-brand">$550.00</span></span>

                                        <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    .u-s-p-y-60
      .section__intro.u-s-m-b-46
        .container
          .row
            .col-lg-12
              .section__text-wrap
                h1.section__heading.u-c-secondary.u-s-m-b-12 SHOP BY DEALS
                span.section__span.u-c-silver BROWSE FAVOURITE DEALS
      .section__content
        .container
          .row
            .col-lg-5.col-md-5.u-s-m-b-30
              a.collection
                .aspect.aspect--bg-grey.aspect--square
                  img.aspect__img.collection__img(src="/images/collection/coll-1.jpg" alt="")
            .col-lg-7.col-md-7.u-s-m-b-30
              a.collection
                .aspect.aspect--bg-grey.aspect--1286-890
                  img.aspect__img.collection__img(src="/images/collection/coll-2.jpg" alt="")
            .col-lg-7.col-md-7.u-s-m-b-30
              a.collection
                .aspect.aspect--bg-grey.aspect--1286-890
                  img.aspect__img.collection__img(src="/images/collection/coll-3.jpg" alt="")
            .col-lg-5.col-md-5.u-s-m-b-30
              a.collection
                .aspect.aspect--bg-grey.aspect--square
                  img.aspect__img.collection__img(src="/images/collection/coll-4.jpg" alt="")
    .u-s-p-y-60
      .section__intro.u-s-m-b-16
        .container
          .row
            .col-lg-12
              .section__text-wrap
                h1.section__heading.u-c-secondary.u-s-m-b-12 TOP PRODUCTS
      .section__content
        .container
          .row
            .col-lg-12
              .filter__grid-wrapper.u-s-m-t-30
                each product in products
                  .col-xl-3.col-lg-4.col-md-6.col-sm-6.u-s-m-b-30.filter__item
                    .product-o.product-o--hover-on.product-o--radius
                      .product-o__wrap
                        a.aspect.aspect--bg-grey.aspect--square.u-d-block
                          img.aspect__img(src="/images/product/electronic/product2.jpg" alt="")
                        .product-o__action-wrap
                          ul.product-o__action-list
                            li
                              a.qiucker(data-modal="modal" data-modal-id="#quick-look"  data-product-id= `${product._id}` data-tooltip="tooltip" data-placement="top" title="Quick View")
                                i.fas.fa-search-plus
                            li 
                              a( href=`/add-to-cart/${product._id}` data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart")
                                i.fas.fa-plus-circle
                            li 
                              a(href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist")
                                i.fas.fa-heart
                      span.product-o__category
                        a(href="#") Electronics
                      span.product-o__name
                        a(href="#")= product.name
                      .product-o__rating.gl-rating-style
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        
                        span.product-o__review (#{product.ratingsQuantity})
                        if !product.priceDiscount 
                          span.product-o__price $#{product.price}
                        else 
                          span.product-o__price $#{product.price}
                            span.product-o__discount $#{product.price}
                        
                              .col-lg-12
              form(action="/products")
                .load-more
                  button.btn.btn--e-brand Load More
    .u-s-p-b-60
      .section__content
        .container
          .row 
            .col-lg-6.col-md-6.u-s-m-b-30
              .service.u-h-100             
                .service__icon
                  i.fas.fa-redo
                .service__info-wrap
                  span.service__info-text-1 Shop with Confidence
                  span.service__info-text-2 Our Protection covers your purchase from click to delivery
            .col-lg-6.col-md-6.u-s-m-b-30
              .service.u-h-100             
                .service__icon
                  i.fas.fa-headphones-alt
                .service__info-wrap
                  span.service__info-text-1 24/7 Help Center
                  span.service__info-text-2 Round-the-clock assistance for a smooth shopping experience
    .banner-bg
      .section__content
        .container
          .row
            .col-lg-12
              .banner-bg__wrap
                .banner-bg__text-1
                  span.u-c-white Completed 
                  span.u-c-secondary Orders
                .banner-bg__text-2
                  span.u-c-white 20000 
                  span.u-c-secondary
                    i.fa.fa-shopping-cart
                span.banner-bg__text-block.banner-bg__text-3.u-c-secondary Enjoy Free Shipping when you buy 2 items and above!
                a.banner-bg__shop-now.btn--e-secondary Shop Now
  //- p Welcome top #{title}
